
.link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: black;
  }

  a:link {
    color: black;
    text-decoration: underline;
  }